html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background-image: url(../img/space-background.png);
  background-size: cover;
  margin: 0;
  perspective: 900px;
}

:root {
  --hud-vertical-margin: 1em;
  --hud-chart-height: 205px;
  --cover-page: {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#dashboard,
#map {
  @apply --cover-page;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: move;
}

#starfield {
  @apply --cover-page;
  z-index: 0;
}

#spacesphere {
  @apply --cover-page;
  z-index: 1;
  opacity: 0.5;
}

.layer-region {
  opacity: 0.1;
}

.layer-grid {
  opacity: 0.2;
}

.layer-planets {
}

.planet {
  stroke: #7056ff;
  stroke-width: 2;
  fill: transparent;
  transform-origin: center;
  transform: scale(0.75);

  &.picked {
    stroke: #ff1309;
  }
}

.planet-name {
  fill: #555;
  font-family: monospace;
  font-size: 8px;
  text-anchor: middle;
}

.overlay.deactivated {
  pointer-events: none;
}



/* charts about geography */
#climates {
  top: var(--hud-vertical-margin);
}

#terrains {
  top: calc(var(--hud-vertical-margin) + var(--hud-chart-height));
}

#climates,
#terrains {
  & .chart {
    width: var(--hud-chart-height);
    height: var(--hud-chart-height);
  }

  & .slices > path {
    cursor: help;
  }
}

#languages {
  bottom: var(--hud-vertical-margin);
}

#people-of-interest {
  top: var(--hud-vertical-margin);
}

#piloting-knowledge {
  bottom: var(--hud-vertical-margin);
}

.unit-group circle {
  cursor: help;
  transition: opacity 150ms ease;

  &:hover {
    opacity: 0.7;
  }
}

.kodama-tooltip table {
  width: 100%;
}

.kodama-tooltip .tooltip-name {
  color: white;
}

.unit-symbol {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#main-header {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -18em;
  background-color: color(black alpha(50%));
  font-family: monospace;
  color: white;
  z-index: 4;
  padding: 0 1em;
  box-sizing: border-box;
  width: 36em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
}

#toolbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
  justify-content: space-evenly;
  margin-left: 1em;
}

.toggle-button {
  background: none;
  border: none;
  outline: none;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  cursor: pointer;

  &:active {
    top: 1px;
    left: 1px;
  }

  & img {
    width: 1.25em;
    height: 1.25em;
  }
}

#starfield {
  transition: opacity 200ms ease-out;
}

.transparent {
  opacity: 0;
}
