html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background-image: url(../img/space-background.png);
  background-size: cover;
  margin: 0;
  perspective: 900px;
}

:root {
  --hud-vertical-margin: 1em;
  --hud-chart-height: 205px;
  --cover-page: {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#dashboard,
#map {
  @apply --cover-page;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: move;
}

#starfield {
  @apply --cover-page;
  z-index: 0;
}

#spacesphere {
  @apply --cover-page;
  z-index: 1;
  opacity: 0.5;
}

.layer-region {
  opacity: 0.1;
}

.layer-grid {
  opacity: 0.2;
}

.layer-planets {
}

.planet {
  stroke: #7056ff;
  stroke-width: 2;
  fill: transparent;
  transform-origin: center;
  transform: scale(0.75);

  &.picked {
    stroke: #ff1309;
  }
}

.planet-name {
  fill: #555;
  font-family: monospace;
  font-size: 8px;
  text-anchor: middle;
}

.overlay.deactivated {
  pointer-events: none;
}



/* charts about geography */
#climates {
  top: var(--hud-vertical-margin);
}

#terrains {
  top: calc(var(--hud-vertical-margin) + var(--hud-chart-height));
}

#climate,
#terrain {
  & .chart {
    width: var(--hud-chart-height);
    height: var(--hud-chart-height);
  }

  & .slices > path {
    cursor: help;
  }
}

#languages {
  bottom: var(--hud-vertical-margin);
}

#people-of-interest {
  top: var(--hud-vertical-margin);
}

#piloting-knowledge {
  bottom: var(--hud-vertical-margin);
}

#ambient-control {
  position: fixed;
  bottom: 0.5em;
  left: 1em;
  z-index: 4;
}
